---
layout: main
---
<div id="photo_membres">
	<div class="cadre" id="cadre_dominic"></div>
	<div class="cadre" id="cadre_alex"></div>
	<div class="cadre" id="cadre_dan"></div>	
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="300" height="100" ><param name="movie" value="http://bandcamp.com/EmbeddedPlayer.swf/album=963594476/size=grande/bgcol=000000/linkcol=C00000/"><param name="quality" value="high"><param name="allowScriptAccess" value="never"><param name="allowNetworking" value="always"><param name="bgcolor" value="#000000"><embed src="http://bandcamp.com/EmbeddedPlayer.swf/album=963594476/size=grande/bgcol=000000/linkcol=C00000/" width="300" height="100" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality=high allowScriptAccess=never allowNetworking=always bgcolor=#000000 ></embed><noembed><a href="http://lesmalleches.bandcamp.com/album/dans-le-garage">Workin' class by Les Mall&egrave;ch&eacute;s</a></noembed></object>
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="300" height="100" ><param name="movie" value="http://bandcamp.com/EmbeddedPlayer.swf/album=2634407075/size=grande/bgcol=000000/linkcol=C00000/" /><param name="quality" value="high" /><param name="allowScriptAccess" value="never" /><param name="allowNetworking" value="always" /><param name="bgcolor" value="#000000" /><embed src="http://bandcamp.com/EmbeddedPlayer.swf/album=2634407075/size=grande/bgcol=000000/linkcol=C00000/" width="300" height="100" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality=high allowScriptAccess=never allowNetworking=always bgcolor=#000000 ></embed><noembed><a href="http://m.lesmalleches.com/album/live-tr">Workin' class by Les Mall&egrave;ch&eacute;s</a></noembed></object>
  <object width="320" height="265"><param name="movie" value="http://www.youtube.com/v/VCSHBr1SpJk&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/VCSHBr1SpJk&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="265"></embed></object>
</div>
<!--div id="membres">	
	Les Mall&egrave;ch&eacute;s sont 
	<%= link_to_member :dominic %>,
	<%= link_to_member :alex %> et
	<%= link_to_member :dan %>
</div-->
<div class="title" id="calendrier">
	<h2>Calendrier</h2>
	<table id="calendar">
	</table>
</div>
<div style="clear:both"></div>
<div class="title_right">
	<h2>Contact</h2>
	Écrire à Dominic Mallèché à <a href="mail_to:dominic@lesmalleches.com">dominic@lesmalleches.com</a>.
</div>

<div class="clear"></div>

<div class="title" id="photos">
	<h2>Photos</h2>
	<div id="album"></div>
	<a id="show_all" href="javascript:void(0);">voir toutes les photos &gt;&gt;</a>
</div>
<div class="clear"></div>

<div class="title">
	<h2>Vid&eacute;os</h2>
	<object width="480" height="385"><param name="movie" value="http://www.youtube.com/p/D7176D2DA347ABFD&amp;hl=en&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/p/D7176D2DA347ABFD&amp;hl=en&amp;fs=1" type="application/x-shockwave-flash" width="480" height="385" allowscriptaccess="always" allowfullscreen="true"></embed></object>
</div>
<div class="title_right">
	<h2>Dossier de presse</h2>
    Voyez notre dossier de presse <a href="https://docs.google.com/a/lesmalleches.com/Doc?docid=0ASDSKp1H01BEZGhwNmY0NTVfNnRzNmh4NmRz&hl=fr_CA" target="_blank">ici</a>
</div>
<div class="clear"></div>


<div id="presentation">
	<p>
	Un trio de rockabilly. Les Mall&egrave;ch&eacute;s se pr&eacute;sentent sous la plus simple expression de la formation de rock'n'roll. 
	Compos&eacute; d'Alex Mallèché
	&agrave; la guitare et &agrave; la voix, 
	de Dominic Mallèché &agrave; la contrebasse et de 
	Bubu Mallèché &agrave; la batterie, ce trio vous am&egrave;ne avec 
	lui dans son monde, celui des ann&eacute;es 50. Une &eacute;poque o&ugrave; le quotidien des artistes transpirait dans leurs chansons. On retrouvait les th&egrave;mes pr&eacute;occupant 
	les jeunes de l'&eacute;poque : les relations amoureuses, les voitures et faire la fête.
	</p>
	<p>
	Fid&egrave;les aux pr&eacute;occupations du quotidien, Les Mall&egrave;ch&eacute;s transmettent des valeurs et des id&eacute;es encr&eacute;es dans leurs vies de travailleurs. 
	Les textes d'un niveau de langage populaire, traduisent une gamme de situations que tous et chacun peuvent s'approprier. 
	Qu'elles parlent d'interrelations entre les patrons et les employ&eacute;s ou encore du plaisir de savoir que deux semaines de cong&eacute; arrivent bientôt, 
	les chansons demeurent faciles d'acc&egrave;s pour tous.
	</p>
	<p>
	Outre la partie de leur r&eacute;pertoire compos&eacute; de pi&egrave;ces originales francophones, Les Mall&egrave;ch&eacute;s rendent hommage &agrave; plusieurs de leurs h&eacute;ros. 
	Il vous est possible d'entendre les Johnny Cash, Elvis Presley, Carl Perkins, Warren Smith et bien d'autres pionniers du rock'n'roll.
	<p>
	<p>
	C'est donc un spectacle sorti tout droit d'une salle de danse des ann&eacute;es 50 que Les Mall&egrave;ch&eacute;s vous proposent. 
	De plus, l'&eacute;nergie contagieuse du groupe saura faire taper du pied même les plus r&eacute;calcitrants.
	<p>
</div>

<script>
	$(document).ready(index_load);
</script>
<script src="http://www.google.com/calendar/feeds/quknci5og8k6sle7nvjauicn2c@group.calendar.google.com/public/full?alt=json-in-script&callback=show_calendar&orderby=starttime&sortorder=ascending&futureevents=true&max-results=30">
</script>
</div>



