<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<html>
    <head>
        <title>Les Mallèchés &raquo; Rockabilly francophone</title>	
        <link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" /> 
        <link href="/stylesheets/jquery.fancybox.css" media="all" rel="stylesheet" type="text/css" />
        <script src="/javascripts/jquery-1.3.2.js" type="text/javascript"></script>
        <script src="/javascripts/jquery-color.js" type="text/javascript"></script>
        <script src="/javascripts/pretty_date.js" type="text/javascript"></script>
        <script src="/javascripts/jquery.fancybox.js" type="text/javascript"></script>
        <script src="/javascripts/lesmalleches.js" type="text/javascript"></script>
    		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    </head>
    <body id="index">
		<div id="content">
		  <img src="/images/logo.png" />
			<%= link_to(image_tag("logo.png", :alt => "Les Mallèchés", :title => "Les Mallèchés"), {:action=>"index"}, :id=>"logo") %>
			<span id="social">
				<%= link_to(image_tag("facebook.png", :align => "abstop"), "http://www.facebook.com/group.php?gid=6965490933", :target => "_blank") %>
				<%= link_to(image_tag("twitter.png", :align => "abstop"), "http://twitter.com/lesmalleches", :target => "_blank") %>
				<%= link_to(image_tag("myspace.png", :align => "abstop"), "http://www.myspace.com/lesmalleches", :target => "_blank") %>
				<%= mail_to("contact@lesmalleches.com", image_tag("email.png", :align => "abstop")) %>
			</span>
			{{content}}
			<div id="endorsement">
			  <%= link_to(image_tag("logo1.png", 
			    :alt => "Custom Imprinted Guitar Picks by Clayton, Inc.", :align=> "absmiddle"),
			    "http://www.steveclayton.com/", :target=>"_blank") %>
			  <strong>Alex Mallèché</strong> utilise les picks de 
			  <%= link_to "Steve Clayton, Inc.", "http://www.steveclayton.com/", 
			    :target=>"_blank" %>
      </div>
		</div>
		<div id="footer">
			<div id="left">
				contactez-nous à <%= mail_to "contact@lesmalleches.com" %>
			</div>
			<div id="right">
				réalisation web <%= link_to "Azanka", "http://www.azankatech.com", :target => "_blank" %>
				&copy; <%= DateTime.now.strftime("%Y") %>
			</div>
<% if RAILS_ENV == "production" %>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-3845762-3");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script>
<% end %>
<%= javascript_tag "$(document).ready(main_load);" %>
	</body>
</html>
